<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="com.powerflasher.fdt.ui.MxmlcGroup">
  <stringAttribute key="APP_ARGUMENTS" value="" />
  <stringAttribute key="ARGUMENTS" value="" />
  <booleanAttribute key="KILL_PREVIOUS_VIEWER" value="false" />
  <stringAttribute key="MAIN_CLASS" value="src/BitmapCachingExample.mxml" />
  <stringAttribute key="OUTPUT" value="bin-debug/BitmapCachingExample.swf" />
  <booleanAttribute key="PASS_CP" value="true" />
  <booleanAttribute key="PASS_MAIN_CLASS" value="true" />
  <booleanAttribute key="PASS_SWCS" value="true" />
  <intAttribute key="PLAYER_HEIGHT" value="400" />
  <intAttribute key="PLAYER_WIDTH" value="550" />
  <stringAttribute key="POST_COMPILE_ANT" value="" />
  <stringAttribute key="PRE_COMPILE_ANT" value="" />
  <stringAttribute key="PROJECT_NAME" value="OptimizingTools" />
  <stringAttribute key="PUBLISHER_ID" value="" />
  <booleanAttribute key="START_SWF_ENABLED" value="true" />
  <stringAttribute key="START_SWF_LOCATION" value="bin-debug/BitmapCachingExample.swf" />
  <stringAttribute key="START_SWF_WITH" value="External SWF Viewer" />
  <booleanAttribute key="USE_PROJECT_COMPILER_ARGUMENTS" value="true" />
  <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
    <listEntry value="/OptimizingTools" />
  </listAttribute>
  <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
    <listEntry value="4" />
  </listAttribute>
  <stringAttribute key="process_factory_id" value="com.powerflasher.fdt.ui.launch.fcsh.ProcessFactory" />
</launchConfiguration>

